<div *ngIf="entreprise">
    <h2>
        <span jhiTranslate="entrepriseManagement.detail.title">Entreprise</span> [<b>{{entreprise.name}}</b>]
    </h2>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="entrepriseManagement.name">Name</span></dt>
        <dd>
            <span>{{entreprise.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            routerLink="/entreprise-management"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
