<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{email.activation.title}">GesBTP création de compte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>

<body>
    <p>
        Demande de création de compte Ges BTP Premium
    </p>
    <p>
        Une demande de création compte Premium vient d'être reçue de l'entreprise ci-dessus. Veillez à créer le compte et à renvoyer un
        mail à sur le mail de ce compte, avec les informations du compte créé.
    </p>
    <!-- <p th:text="#{email.activation.text1}">
        Your JHipster account has been created, please click on the URL below to activate it:
    </p>
    <p>
        <a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}" th:text="@{|${baseUrl}/#/activate?key=${user.activationKey}|}">Activation Link</a>
    </p> -->
    <p>
        <span th:text="#{email.activation.text2}">Regards, </span>
        <br/>
        <em th:text="#{email.signature}">Equipe GesBTP.</em>
    </p>
</body>

</html>

