.example-card {
    max-width: 400px;
    text-align: start;
  }
  
  .card-header {
    background-color: #041470;
  }
  .example-header-image {
    background-size: cover;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-cell {
    text-align: start;
  }
  td, th {
    width: 25%;
  }
    /* .material-icons.orange600 { color: #041470; }
    .center {
      text-align: center;
    } */