<div>
    <h2>
        <span jhiTranslate="gesBtpApp.ligneDevis.home.title">Ligne Devis</span>
        <button class="btn btn-primary float-right jh-create-entity create-ligne-devis" [routerLink]="['/', { outlets: { popup: ['ligne-devis-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gesBtpApp.ligneDevis.home.createLabel">
            Create new Ligne Devis
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gesBtpApp.ligneDevis.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ligneDevis">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="designation"><span jhiTranslate="gesBtpApp.ligneDevis.designation">Designation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="prixUnitaire"><span jhiTranslate="gesBtpApp.ligneDevis.prixUnitaire">Prix Unitaire</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantite"><span jhiTranslate="gesBtpApp.ligneDevis.quantite">Quantite</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="devisId"><span jhiTranslate="gesBtpApp.ligneDevis.devis">Devis</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ligneDevis of ligneDevis ;trackBy: trackId">
                <td><a [routerLink]="['../ligne-devis', ligneDevis.id ]">{{ligneDevis.id}}</a></td>
                <td>{{ligneDevis.designation}}</td>
                <td>{{ligneDevis.prixUnitaire}}</td>
                <td>{{ligneDevis.quantite}}</td>
                <td>
                    <div *ngIf="ligneDevis.devisId">
                        <a [routerLink]="['../devis', ligneDevis.devisId  ]" >{{ligneDevis.devisId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ligne-devis', ligneDevis.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ligne-devis/'+ ligneDevis.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ligne-devis/'+ ligneDevis.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ligneDevis && ligneDevis.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>