.card-header {
    background-color: #691A99;
}

.payBorder {
    border: 1px solid #691a99;
}

.btn-outline {
    color: #691A99;
    background-color: #FFFFFF;
    border-color: #691A99;
}

.fa {
    font-size: 50px;
    color: #691A99;
}

.fa-question-circle {
    font-size: 33px;
    color: #691A99;
}

.fa-lock {
    font-size: 33px;
    color: #691A99;
}

.couleurTitre {
    color: #691A99;
}


