
<br/><br/><br/><br/>
<div class="row content">
    <br/>
    <br/>
    <br/>
      <div class="col-sm-3 sidenav">
            <div class="card">
                    <div class="card-header"  style="background-color:#041470; color:hsl(231, 64%, 98%);text-align: center" >
                            <h1> Palette </h1>
                            </div>
                    <div class="card-body">
                        <mat-grid-list cols="2" rowHeight="3:2">
                            <mat-grid-tile>
                              <a  data-toggle="tooltip" routerLink="../../client" data-placement="bottom" title="Inscription!" style="color:#155d74;">
                                    <span>
                                      Clients
                                      <br/>
                                        <i class="fa fa-fw fa-user fa-4x " aria-hidden="true"  style="color:#155d74;"></i>
                                    </span>
                                </a>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <a  *jhiHasAnyAuthority="'ROLE_MANAGER'" data-toggle="tooltip" routerLink="../../chantier" 
                                data-placement="bottom" title="Inscription!">
                                    <span>
                                        <span >
                                          Chantiers
                                          <br/>
                                            <i class="fa fa-building fa-4x icons" aria-hidden="true"  style="color:#041470;"></i>	
                                        </span>
                                        <!-- inscription -->
                                    </span>
                                </a>
                                <a  *jhiHasAnyAuthority="'ROLE_CHEF_CHANTIER'" data-toggle="tooltip" routerLink="../../chantiers" 
                                data-placement="bottom" title="Inscription!">
                                    <span>
                                        <span >
                                          Chantiers
                                          <br/>
                                            <i class="fa fa-building fa-4x icons" aria-hidden="true"  style="color:#041470;"></i>	
                                        </span>
                                        <!-- inscription -->
                                    </span>
                                </a>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <a  data-toggle="tooltip" routerLink="../../devis" data-placement="bottom" title="Inscription!">
                                    <span >
                                      Devis
                                      <br/>
                                        <i class="fa fa-file-text fa-4x icons" aria-hidden="true"  style="color:#041470;"></i>	
                                    </span>
                                </a>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <a  data-toggle="tooltip"  routerLink="../../employe" data-placement="bottom" title="Inscription!">
                                    <span >
                                     Ressources
                                      <br/>
                                      <i class="fa fa-group fa-4x icons" aria-hidden="true"  style="color:#041470;"></i>	
                                    </span>
                                </a>
                            </mat-grid-tile>
                            <mat-grid-tile>
                              <a data-toggle="tooltip" routerLink="../../facture" data-placement="bottom" title="Inscription!">
                                  <span >
                                    Factures
                                    <br/>
                                      <i class="fa fa-money fa-4x icons" aria-hidden="true"  style="color:#041470;"></i>	
                                  </span>
                              </a>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <a  data-toggle="tooltip" routerLink="../../dashboard" data-placement="bottom" title="Inscription!">
                                    <span >
                                      Dashboard
                                      <br/>
                                        <i class="fa fa-bar-chart fa-4x icons" aria-hidden="true"  style="color:#041470;"></i>	
                                    </span>
                                </a>
                            </mat-grid-tile>
                          </mat-grid-list>
                    </div> 
                   
                  </div>
        
        <br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/>
        
      </div>
  
      <div class="col-sm-9">
            
            <div class="container col-sm-12 col-md-12">
              <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header style=" background-color: #041470">
                        <mat-panel-title>
                                <h4 style="color: white; text-align: center"> Details Chantier</h4>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      
                      <ul class="list-group"  *ngIf="chantier">
                        <li class="list-group-item list-group-item-light">
                            <h4 ><strong>Chantier N°{{chantier?.id}} </strong> </h4>
                        </li>
                        <p>
                        <li class="list-group-item list-group-item-light">
                            <h5> <strong> Nom du Chantier: &nbsp; &nbsp;{{chantier.nomChantier}}</strong></h5>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <h5 ><strong> Ville: &nbsp; &nbsp;{{chantier.ville}}</strong></h5>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <h5><strong>Adresse du Chantier:&nbsp; &nbsp;{{chantier.adresse}}</strong></h5>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <h5><strong> Etat du Chantier:&nbsp; &nbsp;{{chantier.etatChantier}}</strong></h5>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <h5><strong>Date de Debut Prevu:&nbsp; &nbsp;{{chantier.dateDebutPrevu | date:'mediumDate'}}</strong></h5>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <h5 ><strong>Date de Fin Prevu:&nbsp; &nbsp;{{chantier?.dateFinPrevu | date:'mediumDate'}}</strong></h5>
                        </li>
                        <li class="list-group-item list-group-item-light" *ngIf="chantier.dateDebutReelle">
                            <h5 ><strong>Date de Debut Reelle:&nbsp; &nbsp; &nbsp;{{chantier.dateDebutReelle | date:'mediumDate'}}</strong></h5>
                        </li>
                        <li class="list-group-item list-group-item-light" *ngIf="chantier.dateFinReelle">
                            <h5 ><strong>Date de Fin Reelle:&nbsp; &nbsp;{{chantier.dateFinReelle | date:'mediumDate'}}</strong></h5>
                        </li>

                        </p>

                  </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = false"
                                         (closed)="panelOpenState = true" >
                      <!-- <mat-expansion-panel-header style=" background-color: #7A1EA1;">
                        <mat-panel-title>
                            <h4 style="color: white; text-align: center"> Afficher  Dashboard </h4>
                        </mat-panel-title>
                        <mat-panel-description>
                          
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <h1> RIEN </h1> -->
                    </mat-expansion-panel>
                  </mat-accordion>
      </div>
      <hr>
        <h2 >LISTES DES TRAVAUX </h4>
        <hr>
        <div class="container">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
              </mat-form-field>
              <button mat-fab style="float:right;" 
              matTooltip="ajouter tache"
              [routerLink]="['/', { outlets: { popup: ['affectation-new'] } }]"
              color="primary">
                 <mat-icon >add</mat-icon></button>
              <div class="mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource" matSort>
              
                  <!-- ID Column -->
                  <!-- <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                  </ng-container>  -->
              
                  <!-- nomTrav Column -->
                  <ng-container matColumnDef="dateDebut">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date de debut </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.dateDebut | date:'mediumDate'}} </mat-cell>
                  </ng-container>
         
                   <!-- nomTrav Column -->
                   <ng-container matColumnDef="dateFin">
                     <mat-header-cell *matHeaderCellDef mat-sort-header> Date de Fin </mat-header-cell>
                     <mat-cell *matCellDef="let row"> {{row.dateFin | date:'mediumDate'}} </mat-cell>
                   </ng-container>
         
                    <!-- nomTrav Column -->
                    <ng-container matColumnDef="nomTrav">
                     <mat-header-cell *matHeaderCellDef mat-sort-header> Nom tache </mat-header-cell>
                     <mat-cell *matCellDef="let row"> {{row.travaux.nomTrav}} </mat-cell>
                   </ng-container>
        
                   <!-- nomTrav Column -->
                   <ng-container matColumnDef="etat">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Etat </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.etat}} </mat-cell>
                      </ng-container>
        
                   <!-- modifier Column -->
                   <ng-container matColumnDef="det">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                                <!-- <a mat-mini-fab style="margin:1%" routerLink="../client/{{row.id}}"color="primary"><mat-icon>visibility</mat-icon></a>     
                             -->
                             <button mat-mini-fab style="margin:1%"
                             [routerLink]="['/affectations/ressource', row.id ]"
                             replaceUrl="true"
                             queryParamsHandling="merge"
                              color="primary" matTooltip="Ressources"><mat-icon>format_list_numbered</mat-icon></button>     
                                 
                                 <button mat-mini-fab style="margin:1%"
                                 [routerLink]="['/', { outlets: { popup: 'affectation/'+ row.id + '/edit'} }]"
                                  color="green" matTooltip="Modifier"><mat-icon>create</mat-icon></button>
                                  
                                  <button mat-mini-fab style="margin:1%"
                                 [routerLink]="['/', { outlets: { popup: 'affectation/'+ row.id + '/delete'} }]"
                                  color="warn" matTooltip="Affecter Ressources"><mat-icon>delete</mat-icon></button> 
    
                                     </mat-cell>
                      </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;">
                  </mat-row>
                </mat-table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>   
  </div>
  <button *jhiHasAnyAuthority="'ROLE_MANAGER'" mat-fab style="margin:1%"
   color="primary" matTooltip="Retour" 
   (click)="previousState()"><mat-icon>arrow_back</mat-icon></button>
   <button *jhiHasAnyAuthority="'ROLE_CHEF_CHANTIER'" mat-fab style="margin:1%"
   color="primary" matTooltip="Retour" 
   (click)="previousState1()"><mat-icon>arrow_back</mat-icon></button> 
  <hr>
            </div>
        </div>
        <div style="display: block">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
        <!-- Footer -->
<footer class="footer text-center fixed-botom">
    <div class="container-fluid">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2017</p>
    </div>
  </footer>
  